.contacts {
    height: 100vh;
    display: flex;
    align-items: center;
}
.items {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.line_bg {
position: absolute;
width: 90%;
height: 100px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 20px;
border: 10px solid RGBA(0,0,0,0.1);
}
.item {
    position: relative;
    svg {
        width: 350px;
    }
    .link_field {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a {
        position: relative;
        text-decoration: none;
        font-size: 40px;
        color: #000;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -75%;
            width: 10px;
            height: 10px;
            background-color: #000;
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;
            transition: .3s ease 0s;
        }
        &:hover {
            &::before {
                opacity: 1;
                pointer-events: auto;
                animation: circle 2s ease forwards;
            }
        }
    }
}

@keyframes circle {
    100% {
        transform: scale(3);
    }
}