.services {

}
.content {
    height: 100vh;
    display: flex;
    margin: 0 -40px;
}
.halfscreen {
    width: 50%;
    height: 100%;
    position: relative;
    padding: 0px 40px;
    .label {
        font-size: 110px;
        font-weight: 900;
    }
    .label, .bg_number  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bg_number {
        font-size: 500px;
        opacity: .1;
        font-weight: 900;
        transition: .2s ease 0s;
    }
}