.content {
    height: 100vh;
    display: flex;
    align-items: center;
}
.items {
    width: 100%;
}
.blob_bg {
    width: 200px;
    position: absolute;
    opacity: .1;
    z-index: -1;
}
#blob1 {
    top: 80%;
    left: 25%;
}
#blob2 {
    top: 0%;
    left: 50%;
}
