span.blob{
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    animation-name: pointer_events;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    &.active {
        animation: show_circles 3s ease 0s forwards;
        z-index: 55;
    }
    &:first-child {
        top: 10%;
        left: 30%;
    }
    &:nth-child(2) {
        top: 20%;
        left: 50%;
    }
    &:nth-child(3) {
        top: 66%;
        left: 86%;
    }
    &:nth-child(4) {
        top: 75%;
        left: 60%;
    }
    &:nth-child(5) {
        top: 17%;
        left: 80%;
    }
    &:nth-child(6) {
        top: 66%;
        left: 10%;
    }
    &:nth-child(7) {
        top: 50%;
        left: 2%;
    }
    &:nth-child(8) {
        top: 66%;
        left: 38%;
    }
    &:nth-child(9) {
        top: 50%;
        left: 85%;
    }
    &:nth-child(10) {
        top: 66%;
        left: 24%;
    }
    &:nth-child(11) {
        top: 28%;
        left: 2%;
    }
    &:nth-child(12) {
        top: 68%;
        left: 10%;
    }
    &:nth-child(13) {
        top: 66%;
        left: 74%;
    }
    &:nth-child(14) {
        top: 66%;
        left: 49%;
    }
    &:nth-child(15) {
        top: 11%;
        left: 42%;    
    }
    &:nth-child(16) {
        top: 19%;
    left: 62%;
    }
    &:nth-child(17) {
        top: 21%;
        left: 85%;
    }
    &:nth-child(18) {
        top: 12%;
        left: 21%;
    }
    &:nth-child(19) {
        top: 45%;
        left: 23%;
    }
    &:nth-child(20) {
        top: 43%;
        left: 40%;
    }
    &:nth-child(21) {
        top: 45%;
        left: 61%;
    }
    &:nth-child(22) {
        top: 71%;
        left: 0%;
    }
    &:nth-child(23) {
        top: 13%;
        left: 69%;
    }
    &:nth-child(24) {
        top: 13%;
        left: 0%;
    }
    &:nth-child(25) {
        top: 14%;
        left: 56%;
    }
    &:last-child {
        top: 10%;
        left: 10%;
    }
}
@keyframes pointer_events {
    100% {
        pointer-events: auto;
    }
}
@keyframes show_circles {
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 1;
        pointer-events: auto;
    }
}